:root{
    --blue--: #33c;
    --light-blue--:#66f
}

body{
    width: 100vw;
    /* border:2px solid cadetblue; */
    color: var(--blue--);
    display: flex;
    justify-content: center;
    font-size: 12px;
}
#body{
    display: flex;
    width: 700px;
    height: 900px;
    border: 1px solid #666 ;
    
}

main{
    width: 60%;
    margin-left: 2rem;

}

section{
    width: 30%;
    background-color: var(--light-blue--);
    color: white;

}

a{
    text-decoration: none;
}

.sec{
    margin-left: 1rem;
}
section ul{
    list-style: none;
}

h1{
    font-size: 48px;
    /* font-weight: bold; */
}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
}

h1 div{
    font-size: 16px;
    padding: 18px;
    border-bottom: 2px solid ;
}

ul{
    padding-left: 10px;
    margin: 0;
}
li{
    margin-bottom: 5px;
}

article{
    display: flex;
    justify-content: space-around;
}
article div{
    width: 45%;
}
article div + div{
    margin-left: 16px;
}

.topico div{
    display: flex;
}

.iten ul,.iten div{
    width: 45%;
    margin-right: 5%;
}
.iten div{
    /* display: flex; */
    flex-direction: column;
}
